@mixin  media-max($width) {
  @media  all and (max-width:$width) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins Regular';
  text-decoration: none;
  transition-duration: 220ms;
}



h1,
h2,
h3,
h4 {
  font-family: 'Poppins ExtraBold';
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;

  em {
    font-family: inherit;
    font-style: normal;
    color: #028fe9;
  }

}

.logo {
  text-transform: uppercase;
  font-family: 'Poppins ExtraBold';
  font-size: 32px;
  color: black;

  em {
    font-family: inherit;
    font-style: normal;
    color: #028fe9;
  }
}

nav {
  background-color: #fafafa;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  @include media-max(790px){
    display: block;
  }

  .brand{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    .burger{
      display: none;
      border: none;
      background-color: #fafafa;
      padding: 10px;
      @include media-max(790px){
        display: block;
      }
      &:hover{
        background-color: #028fe9;
        svg{
          path{fill: #fafafa;}
        }
      }
      svg{
        path{
          fill: #028fe9;
        }
      }
    }
  }

  .options {
    @include media-max(790px){
      display: none;
    }
    a {
      padding: 20px;
      color: black;
      @include media-max(790px){
        display: block;
      }

      &:hover {
        background-color: #028fe9;
        color: #fafafa;
      }
    }
  }
}

section.hero {
  .img {
    img {
      width: 100%;
      filter: hue-rotate(45deg);
    }
  }

  .title {
    width: 40vw;
    background-color: #e7e1e1;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Poppins ExtraBold';
    padding: 20px;
    text-align: center;
    margin: 0 30vw;
    position: relative;
    bottom: 50px;
    @include media-max(790px){
      bottom: 100px;
    }
    em {
      font-family: inherit;
      font-style: normal;
      color: #028fe9;
    }
  }
}

section.goal {
  h2 {
    text-align: center;
    font-size: 2em;

    em {
      font-family: inherit;
      font-style: normal;
      color: #028fe9;
    }
  }

  ul{
    list-style: none;
    li{
      list-style: none;

    }
  }

  text-transform: uppercase;
  font-family: 'Poppins ExtraBold';
  padding: 25px;
  text-align: center;
  padding: 50px 20vw;

  em {
    font-family: inherit;
    font-style: normal;
    color: #028fe9;
    font-size: 32px;
  }

}

section.services{
  .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 10px;
    padding: 20px 5vw;
    @include media-max(790px){
      grid-template-columns: repeat(1,1fr);
      padding: 20px 2vw;
    }
    .service{
      background-color: #028fe9;
      .img{
        img{
          width: 100%;
        }
      }
      p{
        text-align: center;
        text-transform: capitalize;
        padding: 10px 0;
        color: #fafafa;
      }
    }
  }
}

section.testimonial{
  .testimony{
    padding: 20px 5vw;
    .container{
      background-color: #e7e1e1;
      text-align: center;
      padding: 70px 10px;
      .name{
        margin: 20px 0;
        color: #028fe9;
      }
      .story{
        font-size: 24px;
      }
    }
  }
}

.feedback{
  padding: 20px 6vw;
  input, textarea{
    display: block;
    border: #028fe9 2px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    resize: none;
    outline: none;
  }
  textarea{
    height: 200px;
  }
  button{
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #028fe9;
    color: #fafafa;
    border: #028fe9;

  }
}

footer{
  background-color: #028fe9;
  padding: 20px;
  color: #fafafa;
  h2{
    font-size: 1em;
    text-align: left;
  }
  a{
    display: block;
    color: #fafafa;
  }
}
.social{
  background-color: #037ac4;
  padding: 20px;
  display: flex;
  justify-content: center;
  a{
    display: block;
    margin: 0 10px;
    svg{
      path{
        fill: #fafafa;
      }
    }
  }
}